<html>
  <title>Documents</title>
  {% set local = 'Accounts' %}
  {% extends 'nav_bar.html' %}
  {% block content %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/views/ema.jpeg">
  <style>
    html {
      background-image: linear-gradient(#3274C4, #2E353B);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      min-height: 100%;
    }
    * {
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
      box-sizing: border-box;
      color: #E7E5E3;
    }
    p {
      font-size: 16px;
    }
    h1, h3 {
      text-align: center;
    }
    #page-container {
      min-height: 90vh;
      min-width: 95%;
      vertical-align: middle;
    }
    a:link, a:hover, a:visited {
      font-size: 16px;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
      box-sizing: border-box;
      color: #000000;
      font-weight: bold;
    }
  </style>
  <head>
    <h1>Documents</h1>
  </head>
  <body>
    <div id="page-container">
      <h2>EMA</h2>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/schedule.pdf" target="_blank" rel="noopener noreferrer">Schedule</a></p>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/Calendar.pdf" target="_blank" rel="noopener noreferrer">Calendar</a></p>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/last_month.pdf" target="_blank" rel="noopener noreferrer">Last Month's Calendar</a></p>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/ITP.pdf" target="_blank" rel="noopener noreferrer">Intent To Promote</a></p>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/bingo_cards.pdf" target="_blank" rel="noopener noreferrer">Bingo Cards</a></p>
      <h2>Basic</h2>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/Basic_Rubric.pdf" target="_blank" rel="noopener noreferrer">Basic Rubric</a></p>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/1Confidence.pdf" target="_blank" rel="noopener noreferrer">Confidence Homework (month 1)</a></p>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/2Discipline.pdf" target="_blank" rel="noopener noreferrer">Discipline Homework (month 2)</a></p>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/3Respect.pdf" target="_blank" rel="noopener noreferrer">Respect Homework (month 3)</a></p>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/4Responsibility.pdf" target="_blank" rel="noopener noreferrer">Responsibility Homework (month 4)</a></p>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/5Focus.pdf" target="_blank" rel="noopener noreferrer">Focus Homework (month 5)</a></p>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/6GoalSetting.pdf" target="_blank" rel="noopener noreferrer">Goal Setting Homework (month 6)</a></p>
      <h2>Level 1</h2>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/Level_1_Rubric.pdf" target="_blank" rel="noopener noreferrer">Level 1 Rubric</a></p>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/Level_1_Combos.pdf" target="_blank" rel="noopener noreferrer">Level 1 Combos</a></p>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/Level_1_Manual.pdf" target="_blank" rel="noopener noreferrer">Level 1 Manual</a></p>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/Lvl1Homework.pdf" target="_blank" rel="noopener noreferrer">Level 1 Homework</a></p>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/Lvl1Sparring.pdf" target="_blank" rel="noopener noreferrer">Level 1 Sparring Gear</a></p>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/Level1Curriculum.pdf" target="_blank" rel="noopener noreferrer">Level 1 Curriculum</a></p>
      <h2>Level 2</h2>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/Level_2_Rubric.pdf" target="_blank" rel="noopener noreferrer">Level 2 Rubric</a></p>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/Level_2_Combos.pdf" target="_blank" rel="noopener noreferrer">Level 3 Combos</a></p>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/Level_2_Manual.pdf" target="_blank" rel="noopener noreferrer">Level 2 Manual</a></p>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/Lvl2Homework.pdf" target="_blank" rel="noopener noreferrer">Level 2 Homework</a></p>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/Lvl2Sparring.pdf" target="_blank" rel="noopener noreferrer">Level 2 Sparring Gear</a></p>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/Level2Curriculum.pdf" target="_blank" rel="noopener noreferrer">Level 2 Curriculum</a></p>
      <h2>Level 3</h2>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/Level_1_Rubric.pdf" target="_blank" rel="noopener noreferrer">Level 3 Rubric</a></p>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/Level_2_Combos.pdf" target="_blank" rel="noopener noreferrer">Level 3 Combos</a></p>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/Level_3_Manual.pdf" target="_blank" rel="noopener noreferrer">Level 3 Manual</a></p>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/Lvl3Homework.pdf" target="_blank" rel="noopener noreferrer">Level 3 Homework</a></p>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/Level3Curriculum.pdf" target="_blank" rel="noopener noreferrer">Level 3 Curriculum</a></p>
      <h2>Black Belt</h2>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/BBHomework.pdf" target="_blank" rel="noopener noreferrer">Black Belt Homework</a></p>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/SWAT1Tasks.pdf" target="_blank" rel="noopener noreferrer">SWAT 1 Tasks</a></p>
      <h2>After School Program</h2>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/ASPhomework.pdf" target="_blank" rel="noopener noreferrer">After School Program Homework</a></p>
      <p><a href="https://ema-sidekick-lakewood-cf3bcec8ecb2.herokuapp.com/ASPPacket.pdf" target="_blank" rel="noopener noreferrer">After School Program Packet</a></p>
    </div>
  </body>
</html>
{% endblock %}