<head>
  <title>Login</title>
  <script defer src="https://{% process.env.PROJECT_ID %}.frontendapi.corbado.io/auth.js"></script>
  <corbado-auth-provider project-id="{% process.env.PROJECT_ID %}">
    <corbado-auth
            project-id="{% process.env.PROJECT_ID %}"
            conditional="yes">
        <input name="username" id="corbado-username"
               value="" data-input="username" required
               autocomplete="webauthn"/>
    </corbado-auth>
</corbado-auth-provider>
</head>